<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio web-site</title>
  <link rel="stylesheet" href="web-site.component.css">
</head>
<body>
<!--First Section-->
<section id="hero">
  <div class="hero container">
    <div>
      <h1>Hi,<span></span></h1>
      <h1>My name is<span></span></h1>
      <h1>Piotr<span></span></h1>
      <div class="col-right"></div>
      <a href="#" type="button" class="cta">Portfolio</a>
    </div>
  </div>
</section>
<!--End First Section-->
</body>
</html>
